.bentoButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: calc(var(--font-size) * 0.75);
  margin-left: 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--theme-focused-foreground-subdued);
  }
}

.bentoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--font-size) * 0.25);
  width: calc(var(--font-size) * 1.5);
  height: calc(var(--font-size) * 1.5);
}

.bentoDot {
  width: calc(var(--font-size) * 0.35);
  height: calc(var(--font-size) * 0.35);
  background-color: var(--theme-text);
  border-radius: calc(var(--font-size) * 0.0625);
}
