.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--theme-background);
  border-bottom: 1px solid var(--theme-divider);

  & + * {
    margin-top: 64px;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0px;
}
