.likeButton {
  border: none;
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.2s;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.liked {
    background: var(--theme-focused-foreground-subdued);
    .icon {
      color: var(--theme-liked-foreground);
    }
  }

  &:not(:disabled):hover {
    background: var(--theme-focused-foreground-subdued);
  }
}

.icon {
  font-size: 1.2rem;
}

.count {
  min-width: 1.5em;
  text-align: center;
}
