.container {
  z-index: 1001 !important; // ヘッダーより上に表示
  padding: 1rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.content {
  margin: 0 !important;
  padding: 0 !important;
  flex: 1;
  color: var(--theme-text) !important;
}

.link {
  color: var(--theme-button);
  text-decoration: underline;
  margin-left: 0.5rem;

  &:hover {
    text-decoration: none;
  }
}

.button {
  &:hover,
  &:focus {
    background: var(--theme-focused-foreground) !important;
  }
}

.declineButton {
  &:hover,
  &:focus {
    background: var(--theme-focused-foreground) !important;
    box-shadow: inset 0 0 0 1px transparent !important;
  }
}
